<% if options = element.options
       values = (value||'').split(element.join_with) -%>
    <select style="<%= element.css_style %>" class="<%= element.css_class %> saint-ui-chosen"
            name="<%= element.name %><%= '[]' if element.multiple %>"
            <%= 'multiple' if element.multiple %>
            size="<%= element.size || 1 %>">
      <% if element.required.nil? && element.multiple.nil? %>
          <option value="">---</option>
      <% end %>
      <% options.each_pair do |val, label|
          active = values.include?(val) ||
                  (value == val) ||
                  (value.nil? && element.default == val) -%>
          <option value="<%= val %>" <%= 'selected' if active %> >
            <%= label %>
          </option>
      <% end %>
    </select>
<% end -%>
