<script type="text/javascript" src="<%= Saint::FileServer["vendor/jquery.scrollTo.js"] %>"></script>
<script type="text/javascript">
    $(function() {

        <% if file = http.params['file'] -%>
        Saint.Fm.display_file('<%= http.route :file, file: file %>');
        <% end -%>

        <% if node = @active_dir -%>
        $('#saint-fm-window').scrollTo($('#<%= node[:uniq] %>'));
        <% end -%>

        $(".saint-fmui-draggable").draggable({
            helper: 'clone',
            revert: true,
            scroll: false
        });
        $(".saint-fmui-droppable").droppable({
            greedy: true,
            accept: '.saint-fmui-draggable',
            drop: function(event, ui) {

                var dst = $(this).attr('title');
                var src = $(ui.draggable).attr('title');
                if (src == dst) return false;
                Saint.valid_get(
                        '<%= http.route(:move) %>?src=' + src + '&dst=' + dst + '&current=<%= node ? node[:path] : nil %>',
                        function(response) {
                            window.location = response.redirect_to;
                        }
                )
            }
        });
    });
</script>
<div id="saint-fm-file_window"></div>
<div class="content">
  <p>
    <% if @root_folder -%>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#saint-fm-toolbar" data-toggle="tab">
              <i class="icon-cog"></i>
            </a>
          </li>
          <li>
            <a href="#saint-fm-toolbar-create" data-toggle="tab">Create</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="saint-fm-toolbar">
          <%= saint_view.render_partial('fm/partial/upload', path: '/', label: 'Root') -%>
        </div>
        <div class="tab-pane" id="saint-fm-toolbar-create">
          <%= saint_view.render_partial('fm/partial/create') %>
        </div>
      </div>

  <% else -%>
      <%= saint_view.render_partial('fm/partial/operations', node: @active_dir) if @active_dir %>
  <% end -%>
  </p>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#saint-fm-window-fs" data-toggle="tab">
          <i class="icon-list"></i>
        </a>
      </li>
      <li>
        <a href="#saint-fm-window-search" data-toggle="tab">
          <i class="icon-search"></i>
          Search
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="saint-fm-window-fs">
      <div id="saint-fm-window" class="saint-fm-window">

        <div class="inline topped">
          <div class="saint-fm-node-column">
            <% @roots.each do |root| -%>
                <div class="<%= 'saint-fm-active_dir' if saint.label == root.saint.label %> saint-selectable"
                     ondblclick="window.location = '<%= root.http.route %>';">
                  <img src="<%= Saint::FileServer['vendor/icons/Oxygen/16/folder.png'] %>"/>
                  <%= root.saint.menu.label %>
                </div>
            <% end -%>
          </div>
        </div>

        <% @dirs.each do |dir| -%>
            <div class="inline topped">

              <div class="saint-fmui-droppable saint-fm-node-column" title="<%== dir[:path] %>">

                <% dir[:nodes][:dirs].each do |node|
                    fm_class = ''
                    fm_class = 'saint-fm-selected_dir' if node[:selected_dir?]
                    fm_class = 'saint-fm-active_dir' if node[:active_dir?] -%>

                    <div title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                         class="saint-fm-dir saint-selectable saint-fmui-draggable saint-fmui-droppable <%= fm_class %>"
                         ondblclick="window.location = '<%= http.route(node[:path]) %>';">

                      <img style="border: 0;" src="<%= node[:icon] %>"/>
                      <%= node[:name] %>
                      &nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                <% end -%>

                <% dir[:nodes][:files].each do |node| -%>
                    <div id="<%= node[:uniq] %>"
                         class="saint-selectable saint-fmui-draggable saint-fm-file"
                         title="<%== node[:path] %>"
                         ondblclick="window.location = '<%= http.path + '?file=' + node[:path] %>';">

                      <img src="<%= node[:icon] %>" class="saint-fm-node-icon"/>
                      <%= node[:name] %>
                      <span class="saint-fm-node-size">
                              - <%= node[:size] %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                    </div>
                <% end -%>

              </div>
            </div>
        <% end -%>
      </div>
    </div>
    <div class="tab-pane" id="saint-fm-window-search">

      <input id="saint-fm-search-query" type="text" name="query"/>
      <button class="btn topped" onclick="Saint.update_container('saint-fm-search_results', '<%= http.route :search %>?query=' + $('#saint-fm-search-query').val());">
        search
      </button>

      <div id="saint-fm-search_results"></div>

    </div>
  </div>

</div>
