<% node = @root_folder || @active_dir
   search_query = @query_string[:q]
%>
<%= Saint::FileServer.assets do

    cd 'vendor'
    js 'jquery.scrollTo.js'

    cd 'plupload/js'
    js 'plupload.full.js'

    cd 'jquery.plupload.queue'
    css 'css/jquery.plupload.queue.css'
    js 'jquery.plupload.queue.js'
    
end %>

<script type="text/javascript">
    $(function() {

        <% if search_query -%>
        $('#saint-fm-search_results').modal();
        <% end -%>
        $('#saint-fm-search_field').focus();
        $('#saint-fm-window').scrollTo($('#right-edge'));

        $(".saint-fm-draggable").draggable({
            helper: 'clone',
            revert: true,
            scroll: false
        });
        $(".saint-fm-droppable").droppable({
            greedy: true,
            accept: '.saint-fm-draggable',
            drop: function(event, ui) {

                var dst = $(this).attr('droppable-title');
                var src = $(ui.draggable).attr('droppable-title');
                if (src == dst) return false;
                Saint.valid_POST(
                        '<%= http.route(:move) %>',
                        {src: src, dst: dst, current: '<%= @active_dir ? @active_dir[:path] : nil %>'},
                        function(response) {
                            window.location = response.location;
                        }
                );
            }
        });

        $('#saint-fm-uploader-dialog').on('shown', function() {
            var errors = new Array();
            $('#saint-fm-uploader-queue').pluploadQueue({
                runtimes : 'html5,gears,flash,html4',
                flash_swf_url : '<%= Saint::FileServer['vendor/plupload/js/plupload.flash.swf'] %>',
                url : '<%= http.route(:upload) %>',
                multipart_params: {path: '<%= node[:path] %>'},
                init: {
                    FileUploaded: function(uploader, file, response) {
                        if (response.response == 1)
                            return true;
                        errors.push(response.response);
                    },
                    UploadComplete: function(uploader, files) {
                        if (errors.length > 0)
                            return Saint.alert(errors.join());
                        window.location.reload();
                    }
                }
            });
        });
    });
</script>

<div class="modal" id="saint-fm-uploader-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Uploading files into "<%== node[:name] %>"</h3>
  </div>
  <div class="modal-body">
    <div id="saint-fm-uploader-queue"></div>
  </div>
</div>

<div class="container content">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#saint-fm-toolbar-search" data-toggle="tab">
          <i class="icon-search"></i>
          Search</a>
      </li>
      <li>
        <a class="void-link" onclick="$('#saint-fm-uploader-dialog').modal();">
          <i class="icon-upload"></i>
          Upload</a>
      </li>
      <li>
        <a href="#saint-fm-toolbar-create" data-toggle="tab">
          <i class="icon-plus-sign"></i>
          Create</a>
      </li>
      <% unless @root_folder -%>
          <li>
            <a href="#saint-fm-toolbar-rename" data-toggle="tab">
              <i class="icon-edit"></i>
              Rename</a>
          </li>
          <li>
            <a class="void-link"
               onclick="if(confirm('<%= ('Removing %s/%s/ folder and ANYTHING under it?' % [node[:dir], node[:name]]) if node[:dir?] %> This action can not be undone. Continue?')){
                       Saint.submit_valid_form('saint-fm-forms-delete', function(response){window.location=response.location});
                       }else{return false};">
              <i class="icon-trash"></i>
              Delete
            </a>
          </li>
      <% end -%>
    </ul>
  </div>

  <div class="tab-content">

    <div class="tab-pane active" id="saint-fm-toolbar-search">
      <form action="<%= http.route @encoded_path %>">
        <input type="text" name="q" value="<%== search_query %>" id="saint-fm-search_field" placeholder='insert at least 2 chars' onkeyup="$('#saint-fm-search-submit').attr('disabled', $(this).val().length < 2);"/>

        <input id="saint-fm-search-submit" type="submit" value="search" class="btn topped" disabled="true"/>

        <% if search_query -%>
            <a href="<%= http.route @encoded_path %>" class="btn topped">
              reset
            </a>
        <% end -%>
      </form>
    </div>

    <% unless @root_folder -%>
        <div class="tab-pane" id="saint-fm-toolbar-rename">
          <%= saint_view.render_view 'fm/partial/rename', node: node %>
        </div>
    <% end -%>

    <div class="tab-pane" id="saint-fm-toolbar-create">

      <form action="<%= http.route(:create, encode_path(@path)) %>" id="saint-fm-toolbar-create-<%= node.__id__ %>-form" method="post">
        <input type="hidden" name="type" id="saint-fm-toolbar-create-<%= node.__id__ %>-form-type"/>
        <input type="text" name="name" value="" placeholder="Create new File or Folder..." class="disable_enter_key saint-input-medium"/>

        <a class="btn topped" onclick="Saint.Fm.create_item('saint-fm-toolbar-create-<%= node.__id__ %>-form', 'file');">
          <i class="icon-file"></i>
          file
        </a>

        <a class="btn topped" onclick="Saint.Fm.create_item('saint-fm-toolbar-create-<%= node.__id__ %>-form', 'folder');">
          <i class="icon-folder-close"></i>
          folder
        </a>
      </form>

    </div>

  </div>

  <div id="saint-fm-window" class="saint-fm-window">

    <div class="inline topped">
      <div class="saint-fm-node-column">
        <% setup.roots.each do |root|
            active = setup.label == root.setup.label -%>
            <div class="<%= @root_folder && active ? 'saint-fm-active_dir' : ('saint-fm-selected_dir' if active) %> saint-selectable">
              <img src="<%= @helper.icon('folder') %>"/>
              <a href="<%= root.http.route %>">
                <%= root.setup.label %>
              </a>
            </div>
        <% end -%>
      </div>
    </div>

    <% @dirs.each do |dir| -%>
        <div class="inline topped">

          <div class="saint-fm-droppable saint-fm-node-column" droppable-title="<%== dir[:path] %>">

            <% dir[:nodes][:dirs].each do |node|
                fm_class = ''
                fm_class = 'saint-fm-selected_dir' if node[:selected_dir?]
                fm_class = 'saint-fm-active_dir' if node[:active_dir?] -%>

                <div droppable-title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                     class="saint-fm-draggable saint-fm-droppable saint-fm-dir saint-selectable <%= fm_class %>">

                  <img src="<%= node[:icon] %>"/>
                  <a href="<%= http.route(node[:path_encoded]) %>">
                    <%= node[:name] %>
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                </div>
            <% end -%>

            <% dir[:nodes][:files].each do |node| -%>
                <div droppable-title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                     class="saint-fm-draggable saint-selectable saint-fm-file">

                  <img src="<%= node[:icon] %>" class="saint-fm-node-icon"/>
                  <a href="<%= http.path + '?file=' + node[:path_encoded] %>">
                    <%= node[:name] %>
                  </a>
                      <span class="saint-fm-node-size">
                              - <%= node[:size] %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                </div>
            <% end -%>

          </div>
        </div>
    <% end -%>
    <div class="inline" id="right-edge"></div>
  </div>

</div>


<% if search_query
       files = Array.new

       Find.find(root).select { |p| ::File.file?(p) }.each do |p|
           if ::File.basename(p) =~ /#{search_query}/
               file = @helper.file(p).merge(path: p.sub(root, ''))
               file[:path_encoded] = encode_path(file[:path])
               file[:size] = @helper.size(p, true)
               if file[:viewable?]
                   file[:geometry] = @helper.geometry(p)
               end
               files << file
           end
       end

%>
    <div class="modal" id="saint-fm-search_results">
      <div class="modal-header">
        <a href="<%= http.route @encoded_path %>" class="close">×</a>

        <h3>Found <%= files.size %> files for "<%== search_query %>"</h3>
      </div>
      <div class="modal-body">

        <table>
          <% files.each do |file| -%>
              <tr>
                <td>
                  <img src="<%= file[:icon] %>"/>
                </td>
                <td>
                  <a href="<%= http.route @encoded_path, @query_string.update(file: file[:path_encoded]) %>">
                    <%= file[:name] %>
                  </a>
                  - <%= file[:size] %>
                  <%= (g = file[:geometry]) && ' - %spx' % g.join('x') %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="saint-text_note ellipsis">
                    <%= (dirname = File.dirname(file[:path])) && '%s/%s' % [File.basename(root), (dirname == '.' ? '' : dirname.scan(/.{1,#{80}}/).join('<br/>'))] %>
                  </div>
                </td>
              </tr>
          <% end -%>
        </table>
      </div>
    </div>
<% end -%>

<%= saint_view.render_view('fm/partial/delete', node: node) unless @root_folder -%>
