<script type="text/javascript" src="<%= Saint::FileServer["vendor/jquery.scrollTo.js"] %>"></script>
<script type="text/javascript">
    $(function() {

        $('#saint-fm-window').scrollTo($('#right-edge'));

        $(".saint-fmui-draggable").draggable({
            helper: 'clone',
            revert: true,
            scroll: false
        });
        $(".saint-fmui-droppable").droppable({
            greedy: true,
            accept: '.saint-fmui-draggable',
            drop: function(event, ui) {

                var dst = $(this).attr('title');
                var src = $(ui.draggable).attr('title');
                if (src == dst) return false;
                Saint.valid_POST(
                        '<%= http.route(:move) %>',
                        {src: src, dst: dst, current: '<%= @active_dir ? @active_dir[:path] : nil %>'},
                        function(response) {
                            window.location = response.location;
                        }
                );
            }
        });
    });
</script>

<% if node = @active_file -%>
    <div class="modal" id="saint-fm-file_window">
      <div class="modal-header">
        <a class="close" href="<%= http.route @encoded_path, @query_string %>">×</a>

        <h3>
          <%== '%s - %s' % node.values_at(:name, :size) %>
          <%= (g = node[:geometry]) && ' - %spx' % g.join('x') %>
        </h3>

        <%= saint_view.render_partial('fm/partial/operations', node: node) %>
      </div>
      <div class="modal-body">

        <% if node[:editable?] -%>

            <form action="<%= http.route(:save, file: node[:path]) %>" id="<%= node[:uniq] %>-edit-form" method="post">
              <div id="saint-fm-file-alert"></div>
              <textarea title="<%= node[:path_encoded] %>" id="saint-fm-file-content" name="content" style="width: 100%; height: 200px;"></textarea>
            </form>

        <% elsif node[:url] -%>

            <img src="<%= node[:url] %>?_=<%= Time.now.to_f %>"/>

        <% end -%>
      </div>
      <div class="modal-footer">
        <a class="btn" href="<%= http.route @encoded_path, @query_string %>">
          <i class="icon-remove"></i>
          close
        </a>
        <% if node[:editable?] -%>
            <button id="saint-fm-file-submit" onclick="Saint.submit_valid_form('<%= node[:uniq] %>-edit-form');" class="btn btn-info">
              <i class="icon-file"></i>
              save
            </button>
        <% end -%>
      </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('#saint-fm-file_window').modal({keyboard: false});
            <% if node[:editable?] -%>
            Saint.valid_POST("<%= http.route :read_file %>", {file: $('#saint-fm-file-content').attr('title')}, function(response) {
                $('#saint-fm-file-content').val(response.content);
            }, function(response) {
                $('#saint-fm-file-content').hide();
                $('#saint-fm-file-alert').addClass('alert').addClass('alert-error').html(response.message);
                $('#saint-fm-file-submit').attr('disabled', true);
            });
            <% end -%>
        });
    </script>
<% end -%>

<div class="content">
  <p>
    <% if @root_folder -%>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#saint-fm-toolbar" data-toggle="tab">
              <i class="icon-cog"></i>
            </a>
          </li>
          <li>
            <a href="#saint-fm-toolbar-create" data-toggle="tab">
              <i class="icon-plus-sign"></i>
              Create</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="saint-fm-toolbar">
          <%= saint_view.render_partial('fm/partial/upload', path: '/', label: 'Root') -%>
        </div>
        <div class="tab-pane" id="saint-fm-toolbar-create">
          <%= saint_view.render_partial('fm/partial/create') %>
        </div>
      </div>

  <% elsif @active_dir -%>
      <%= saint_view.render_partial('fm/partial/operations', node: @active_dir) %>
  <% end -%>
  </p>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="<%= 'active' unless @query_string[:q] %>">
        <a href="#saint-fm-window-fs" data-toggle="tab">
          <i class="icon-list"></i>
        </a>
      </li>
      <li class="<%= 'active' if @query_string[:q] %>">
        <a href="#saint-fm-window-search" data-toggle="tab">
          <i class="icon-search"></i>
          Search
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless @query_string[:q] %>" id="saint-fm-window-fs">
      <div id="saint-fm-window" class="saint-fm-window">

        <div class="inline topped">
          <div class="saint-fm-node-column">
            <% roots.each do |root| -%>
                <div class="<%= @root_folder && label == root.label ? 'saint-fm-active_dir' : ('saint-fm-selected_dir' if label == root.label) %> saint-selectable">
                  <img src="<%= Saint::FileServer['vendor/icons/Oxygen/16/folder.png'] %>"/>
                  <a href="<%= root.http.route %>">
                    <%= root.saint.menu.label %>
                  </a>
                </div>
            <% end -%>
          </div>
        </div>

        <% @dirs.each do |dir| -%>
            <div class="inline topped">

              <div class="saint-fmui-droppable saint-fm-node-column" title="<%== dir[:path] %>">

                <% dir[:nodes][:dirs].each do |node|
                    fm_class = ''
                    fm_class = 'saint-fm-selected_dir' if node[:selected_dir?]
                    fm_class = 'saint-fm-active_dir' if node[:active_dir?] -%>

                    <div title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                         class="saint-fmui-draggable saint-fmui-droppable saint-fm-dir saint-selectable <%= fm_class %>">

                      <img src="<%= node[:icon] %>"/>
                      <a href="<%= http.route(node[:path_encoded]) %>">
                        <%= node[:name] %>
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                <% end -%>

                <% dir[:nodes][:files].each do |node| -%>
                    <div title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                         class="saint-fmui-draggable saint-selectable saint-fm-file">

                      <img src="<%= node[:icon] %>" class="saint-fm-node-icon"/>
                      <a href="<%= http.path + '?file=' + node[:path_encoded] %>">
                        <%= node[:name] %>
                      </a>
                      <span class="saint-fm-node-size">
                              - <%= node[:size] %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                    </div>
                <% end -%>

              </div>
            </div>
        <% end -%>
        <div class="inline" id="right-edge"></div>
      </div>
    </div>
    <div class="tab-pane <%= 'active' if @query_string[:q] %>" id="saint-fm-window-search">

      <form action="<%= http.route @encoded_path %>">

        <p>search by file name</p>
        <input type="text" name="q" placeholder='insert at least 2 chars' onkeyup="$('#saint-fm-search-submit').attr('disabled', $(this).val().length < 2);"/>

        <input id="saint-fm-search-submit" type="submit" value="search" class="btn topped" disabled="true"
               onclick="$(this).val('searching, please wait ...');"/>

        <% if @query_string[:q] -%>
            <a href="<%= http.route @encoded_path %>" class="btn topped">
              reset
            </a>
        <% end -%>

      </form>

      <%= saint_view.render_partial('fm/search') if @query_string[:q] %>

      <div id="saint-fm-search_results"></div>

    </div>
  </div>

</div>
