<script type="text/javascript" src="<%= Saint::FileServer["vendor/jquery.scrollTo.js"] %>"></script>
<script type="text/javascript">
    $(function() {

        <% if node = @active_file || @active_dir -%>
        $('#saint-fm-window').scrollTo($('#<%= node[:uniq] %>'));
        <% end -%>

        $(".saint-fmui-draggable").draggable({
            revert: true,
            scroll: false,
            zIndex: 100000
        });
        $(".saint-fmui-droppable").droppable({
            greedy: true,
            accept: '.saint-fmui-draggable',
            drop: function(event, ui) {

                var dst = $(this).attr('title');
                var src = $(ui.draggable).attr('title');
                if (src == dst) return false;
                Saint.valid_get(
                        '<%= http.route(:move) %>?src=' + src + '&dst=' + dst,
                        function(s, m) {
                            window.location.reload();
                        }
                )
            }
        });
    });
</script>

<div class="content">
  <p>
    <% if @root_folder -%>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#saint-fm-toolbar" data-toggle="tab">
              <i class="icon-cog"></i>
            </a>
          </li>
          <li>
            <a href="#saint-fm-toolbar-create" data-toggle="tab">Create</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="saint-fm-toolbar">
          <%= saint_view.render_partial('fm/partial/upload', path: '/', label: 'Root') -%>
        </div>
        <div class="tab-pane" id="saint-fm-toolbar-create">
          <%= saint_view.render_partial('fm/partial/create') %>
        </div>
      </div>

  <% else -%>
      <%= saint_view.render_partial('fm/partial/operations', node: @active_dir) if @active_dir %>
  <% end -%>
  </p>
  <% if node = @active_file
         dialog_container = '%s-modal' % node[:uniq] -%>

      <div class="modal" id="<%= dialog_container %>">
        <div class="modal-header">
          <a class="close" onclick="window.location = '<%= http.path %>';">×</a>

          <h3><%== '%s - %s' % node.values_at(:name, :size) %></h3>
          <%= saint_view.render_partial('fm/partial/operations', node: node, dialog_container: dialog_container) %>
        </div>
        <div class="modal-body">

          <% if node[:content] -%>

              <form action="<%= http.route(:save, @path, file: node[:path]) %>" id="<%= node[:uniq] %>-edit-form" method="post">
                <textarea name="content" style="width: 100%; height: 200px;"><%== node[:content] %></textarea>
              </form>

          <% elsif node[:url] -%>

              <img src="<%= node[:url] %>?_=<%= http.params['_'] %>"/>

          <% end -%>
        </div>
        <div class="modal-footer">
          <button class="btn" onclick="window.location = '<%= http.path %>';">Close</button>
          <% if node[:content] -%>
              <button onclick="$('#<%= node[:uniq] %>-edit-form').submit();" class="btn btn-info">
                Save
              </button>
          <% end -%>
        </div>
      </div>
      <script type="text/javascript">
          $(function() {
              $('#<%= dialog_container %>').modal();
          });
      </script>

  <% end -%>

  <div style="overflow-x: auto; overflow-y: hidden;" id="saint-fm-window" class="saint-fm-window">

    <table>
      <tr>
        <td style="vertical-align: top;">
          <div class="saint-fm-node-column saint-ui-resizable">
            <% @roots.each do |root| -%>
                <div class="<%= 'saint-fm-active_dir' if saint.label == root.saint.label %> saint-selectable"
                     ondblclick="window.location = '<%= root.http.route %>';">
                  <img src="<%= Saint::FileServer['vendor/icons/Oxygen/16/folder.png'] %>"/>
                  <%= root.saint.menu.label %>
                </div>
            <% end -%>
          </div>
        </td>
        <% @dirs.each do |dir| -%>
            <td style="vertical-align: top;">

              <div class="saint-ui-resizable saint-fmui-droppable saint-fm-node-column" title="<%== dir[:path] %>">
                <% dir[:nodes][:dirs].each do |node|
                    fm_class = ''
                    fm_class = 'saint-fm-selected_dir' if node[:selected_dir?]
                    fm_class = 'saint-fm-active_dir' if node[:active_dir?] -%>

                    <div title="<%== node[:path] %>" id="<%= node[:uniq] %>"
                         class="saint-fm-dir saint-selectable saint-fmui-draggable saint-fmui-droppable <%= fm_class %>"
                         ondblclick="window.location = '<%= http.route(node[:path]) %>';">

                      <img style="border: 0;" src="<%= node[:icon] %>"/>
                      <%= node[:name] %>
                      &nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                <% end -%>

                <% dir[:nodes][:files].each do |node| -%>
                    <div id="<%= node[:uniq] %>" style="cursor: default;"
                         class="saint-selectable saint-fmui-draggable saint-fm-file"
                         title="<%== node[:path] %>"
                         ondblclick="window.location = '<%= http.path + '?file=' + node[:path] %>';">
                      <table class="saint-fm-node-container">
                        <tr>
                          <td class="saint-fm-node-file">
                            <img src="<%= node[:icon] %>" class="saint-fm-node-icon"/>
                            <%= node[:name] %>
                            <span class="saint-fm-node-size">
                              - <%= node[:size] %>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                <% end -%>

              </div>
            </td>
        <% end -%>

      </tr>
    </table>

  </div>
</div>
