<% files = Array.new
   unless @active_file
       Find.find(root).select { |p| ::File.file?(p) }.each do |p|
           if ::File.basename(p) =~ /#{@query_string[:q]}/
               file = @helper.file(p).merge(path: p.sub(root, ''))
               file[:path_encoded] = encode_path(file[:path])
               file[:size] = @helper.size(p, true)
               if file[:viewable?]
                   file[:geometry] = @helper.geometry(p)
               end
               files << file
           end
       end

%>
    <h3 class="alert">Found <%= files.size %> files</h3>
    <ul>
      <% files.each do |file| -%>
          <li>
            <a href="<%= http.route @encoded_path, @query_string.update(file: file[:path_encoded]) %>">
              <img src="<%= file[:icon] %>"/>
              <%= file[:path] %>
            </a>
            - <%= file[:size] %>
            <%= (g = file[:geometry]) && ' - %spx' % g.join('x') %>
          </li>
      <% end -%>
    </ul>
<% end -%>
