<div class="saint-filter_label"><%= label %> min</div>
<input type="text" name="<%= @setup.query_string :min %>" value="<%== ((@val||{})['min'] rescue nil) %>"
       class="disable_enter_key saint-filters-datepicker"/>
<div class="saint-filter_label"><%= label %> max</div>
<input type="text" name="<%= @setup.query_string :max %>" value="<%== ((@val||{})['max'] rescue nil) %>"
       class="disable_enter_key saint-filters-datepicker"/>
