<div class="saint-filter_label">
  <%= label -%>
</div>
<input type="text" name="<%= @setup.query_string %>" value="<%== @val || @type_values %>" class="disable_enter_key"
       <% if (dependant_filters = @setup.dependant_filters).size > 0 -%>
       onkeyup="$('<%= dependant_filters.map{|f| "##{f.id + @seed}-input"}.join(',') %>').remove();
               var query_string = $(this).closest('form').serialize();
               <% dependant_filters.each do |filter| -%>
               $.get( '<%= @setup.node.http.route(:filter, filter.column, @seed) %>',
                       query_string,
                       function(response){ $('#<%= filter.id + @seed %>').html(response); }
                       );
               <% end -%>
       "
       <% end -%>
       />
