<% remote_node = @relation.remote_node
   tree = remote_node && remote_node.saint.is_tree?
   local_item_children = tree ?
           @local_item.send(tree[:has_n].children).inject({}) { |children, child| children.update(child[@relation.local_pkey] => child) } :
           {}
-%>
<table width="100%">

  <tr class="ui-widget-header <%= 'saint-header' if level == 0 %>">
    <% if level == 0 -%>
        <td style="width: 5%;">
          #
        </td>
        <td style="width: 5%;"></td>
    <% end -%>
    <% if @relation.remote_node -%>
        <td>
          <%= @relation.remote_node.saint.h -%>
        </td>
    <% else -%>
        <% @remote_columns.each do |column| -%>
            <td style="<%= 'width: ' + (90 / @remote_columns.size).ceil.to_s + '%;' %>">
              <%= column.label %>
            </td>
        <% end -%>
    <% end -%>
  </tr>

  <% items_counter = 0
     items.each do |remote_item|
         remote_item_id = remote_item[@relation.remote_pkey]
         children = tree ? remote_item.send(tree[:has_n].children) : []
         self_color = color || Saint.tree_colors.sample
         bg_color = color || (self_color if children.size > 0)
  -%>
      <tr class="saint-selectable" style="<%= "background-color: ##{bg_color}" if bg_color %>">
        <% if level == 0 -%>

            <td style="text-align: center;">
              <a href="<%= remote_node ? remote_node.http.route(:edit, remote_item_id) : 'javascript:void(0);' %>" target="_blank">
                <%= (items_counter += 1) + @pager.page_number * @relation.ipp %>
              </a>
            </td>

            <% unless @relation.readonly -%>
                <td style="text-align: center;">
                  <% if level == 0 -%>
                      <input type="radio" name="saint-belongs_to_selector-<%= @relation.id %>"
                             <%= 'disabled' if (@relation.is_tree? && (local_item_children[remote_item_id] || remote_item_id == @local_id)) || (@attached_keys_or_remote_item.respond_to?(@relation.remote_pkey) && @attached_keys_or_remote_item.send(@relation.remote_pkey) == remote_item_id) %>
                             <% if @local_id > 0 -%>
                             onclick="if(confirm('Please confirm Select action')){ <%= "update_relation_#{@relation.id}(#{remote_item_id});" %> }else{$(this).attr('checked', false)}"
                             <% else -%>
                             onclick="if(confirm('Please confirm Select action')){ Saint.update_value('<%= @relation.id %>-element', '<%= remote_item_id %>'); }else{$(this).attr('checked', false)}"
                             <% end -%>
                             />
                  <% end -%>
                </td>
            <% end -%>
        <% end -%>

        <% if remote_node -%>
            <td>
              <a href="<%= remote_node.http.route(:edit, remote_item_id) %>" target="_blank" class="saint-link">
                <%= remote_node.saint.h remote_item, label: nil -%>
              </a>
            </td>
        <% else -%>
            <% @remote_columns.each do |column| -%>
                <td>
                  <%= column.summary_value remote_item, self %>
                </td>
            <% end -%>
        <% end -%>

      </tr>

      <% if children.size > 0
             children_container_id = @relation.id + @attached.to_s + level.to_s + remote_item_id.to_s + '_children_container' -%>
          <tr>
            <td></td>
            <td style="text-align: right; vertical-align: top;">
              <% if level == 0 -%>
                  <div id="<%= children_container_id %>-status"
                       style="cursor: pointer;" class="saint-text_note"
                       onclick="Saint.Utils.toggleChildrenContainer('<%= children_container_id %>');">
                    children +
                  </div>
              <% end -%>
            </td>
            <td colspan="<%= @relation.remote_node ? 0 : @remote_columns.size %>">
              <div id="<%= children_container_id %>" style="<%= 'display: none;' if level == 0 %>">
                <%= saint_view.render_partial('list/assoc/belongs_to-partial', items: children, level: level + 1, color: self_color) %>
              </div>
            </td>
          </tr>
      <% end -%>

  <% end %>

</table>
