<% route_args = [:assoc__any__remote_items, @relation.id, @local_id]
   form_id = 'saint_assoc_filters-%s' % @relation.id -%>

<form action="<%= http.route *route_args %>" id="<%= form_id %>">

  <%= @relation.remote_node.saint.filter_instances(http.params, :html) -%>

  <% @relation.remote_node.saint.subset_instances(http.params, :html).each do |subset_filters|
      field_attrs = {}
      subset_id = 'saint-filters-subsets-%s-%s' % [@relation.id, subset_filters.__id__] -%>

      <div class="inline topped">
        <div class="saint-filter_label">&nbsp;</div>
        <div class="btn-group">
          <% subset_filters.each do |subset_filter|
              js = "$('#%s').attr('name', '%s').attr('value', '%s');" % [subset_id, *subset_filter.values_at(:name, :value)]
              if subset_filter[:active]
                  js = "$('#%s').remove();" % subset_id
                  field_attrs = subset_filter
              end
          -%>
              <a class="void-link btn <%= 'active' if subset_filter[:active] %>"
                 onclick="<%= js %> Saint.update_container('<%= @relation.id %>0', {form: '<%= form_id %>'});">
                <%= subset_filter[:label] %>
              </a>
          <% end -%>
        </div>
      </div>
      <input type="hidden" id="<%= subset_id %>" name="<%= field_attrs[:name] %>" value="<%= field_attrs[:value] %>"/>
  <% end -%>

  <div class="inline topped">
    <div class="saint-filter_label">&nbsp;</div>
    <div class="btn-group">
      <a class="void-link btn btn-info"
         onclick="Saint.update_container('<%= @relation.id %>0', {form: '<%= form_id %>'});">
        <i class="icon-search"></i>
        Search</a>

      <a class="void-link btn"
         onclick="Saint.update_container('<%= @relation.id %>0', '<%= http.route *route_args %>');">
        Reset</a>
    </div>
  </div>

</form>
