<% remote_node = @relation.remote_node
   readonly = @relation.readonly
   tree = remote_node && remote_node.saint.is_tree?
-%>
<table class="table">
  <thead>
  <tr>
    <% if level == 0 -%>
        <th style="width: 5%;">
          #
        </th>
        <% unless readonly -%>
            <th style="width: 5%;"></th>
        <% end -%>
    <% end -%>

    <% @remote_columns.each do |column| -%>
        <th style="<%= 'width: ' + (90 / @remote_columns.size).ceil.to_s + '%;' %>">
          <%= column.label %>
        </th>
    <% end -%>
  </tr>
  </thead>
  <% items_counter = @pager.items + 1
     update_relation_action = :assoc__has_n__update_remote_item
     update_relation_action = :assoc__has_n__update_through_model if @relation.through_model
     update_relation_url = http.route(update_relation_action, @relation.id, '/')
     items.each do |remote_item|
         remote_id = remote_item[@relation.remote_pkey]
         children = tree ? remote_item.send(tree[:has_n].children) : []
         self_color = color || Saint.tree_colors.sample
         bg_color = color || (self_color if children.size > 0) -%>

      <tr class="saint-selectable" style="<%= "background-color: ##{bg_color}" if bg_color %>">
        <% if level == 0 -%>
            <td style="text-align: center;">
              <% n = (items_counter -= 1) - @pager.page_number * saint.ipp
                 if remote_node %>
                  <a href="<%= remote_node.http.route(:edit, remote_id) %>"
                     class="btn" target="_blank">
                    <%= n %>
                  </a>
              <% else %>
                  <%= n %>
              <% end %>
            </td>
            <% unless readonly -%>
                <td style="text-align: center;">

                  <% if @attached == 0 -%>

                      <% if (@attached_keys_or_remote_item||[]).include?(remote_id) -%>
                          <div class="btn btn-info disabled">
                            attached
                          </div>
                      <% else
                             disabled = (@relation.is_tree? && (@local_id == remote_id || (@local_item && @local_item.parent_id == remote_id))) ||
                                     (@relation.belongs_to? && remote_item.send(@relation.remote_key) == @local_id) -%>
                          <a class="btn <%= 'disabled' if disabled %>"
                             <% unless disabled -%>
                             onclick="if(confirm('Please confirm Attach action')){
                                     Saint.valid_get('<%= '%s/%s/%s/create' % [update_relation_url, remote_id, @local_id] %>', function(response){
                                             Saint.update_container('<%= @relation.id %>0', '<%= @update_selector_url + "0" + @pager.query_string %>');
                                             Saint.update_container('<%= @relation.id %>1', '<%= @update_selector_url + "1" %>');
                                             Saint.update_container('<%= @relation.id %>-edit_assoc_container');
                                             Saint.update_container('saint-crud-header', '<%= http.route(:head, @local_id) %>');
                                             Saint.ui_alert(response.message);
                                             });}"
                             <% end -%> >
                            attach
                          </a>
                      <% end -%>

                  <% else -%>

                      <a class="btn"
                         onclick="if(confirm('Please confirm Detach action')){
                                 Saint.valid_get('<%= '%s/%s/%s/delete' % [update_relation_url, remote_id, @local_id] %>', function(response){
                                         Saint.update_container('<%= @relation.id %>0', '<%= @update_selector_url + "0" %>');
                                         Saint.update_container('<%= @relation.id %>1', '<%= @update_selector_url + "1" + @pager.query_string %>');
                                         Saint.update_container('<%= @relation.id %>-edit_assoc_container');
                                         Saint.update_container('saint-crud-header', '<%= http.route(:head, @local_id) %>');
                                         Saint.ui_alert(response.message);
                                         });}">
                        detach
                      </a>
                  <% end -%>
                </td>
            <% end -%>
        <% end -%>

        <% @remote_columns.each do |column|
            value = column.summary_value remote_item, self -%>
            <td>
              <% if remote_node -%>
                  <a href="<%= remote_node.http.route(:edit, remote_id) %>" target="_blank" class="saint-link">
                    <%== value %>
                  </a>
              <% else -%>
                  <%== value %>
              <% end -%>
            </td>
        <% end -%>

      </tr>

      <% if children.size > 0
             children_container_id = @relation.id + @attached.to_s + level.to_s + remote_id.to_s + '_children_container' -%>
          <tr>
            <td></td>
            <td style="text-align: right; vertical-align: top;">
              <% if level == 0 -%>
                  <div id="<%= children_container_id %>-status"
                       style="cursor: pointer;" class="saint-text_note"
                       onclick="Saint.Utils.toggleChildrenContainer('<%= children_container_id %>');">
                    children+
                  </div>
              <% end -%>
            </td>
            <td colspan="<%= @remote_columns.size %>">
              <div id="<%= children_container_id %>" style="<%= 'display: none;' if level == 0 %>">
                <%= saint_view.render_partial('list/assoc/has_n-partial', items: children, level: level + 1, color: self_color) %>
              </div>
            </td>
          </tr>
      <% end -%>

  <% end %>

</table>
