<script type="text/javascript">
    var query_string = '<%= @pager.query_string %>';
</script>

<% remote_node = @relation.remote_node
   tree = remote_node && remote_node.saint.is_tree?
   attachable = level == 0 && @relation.readonly.nil?
   th_label_classes = level == 0 ? 'label label-info' : 'label'
-%>
<table class="table">
  <thead>
  <tr>

    <% if attachable -%>
        <th style="width: 5%;"></th>
    <% end -%>

    <th style="width: 5%;">
      <span class="<%= th_label_classes %>">
      <%= remote_node ? remote_node.saint.pkey : Saint::ORMUtils.primary_key(@relation.remote_model) %>
      </span>
    </th>
    <% @remote_columns.each do |column| -%>
        <th style="<%= 'width: %s%%;' % (90 / @remote_columns.size).ceil %>">
          <span class="<%= th_label_classes %>">
            <%= column.label %></span>
        </th>
    <% end -%>
  </tr>
  </thead>
  <% items_counter = @pager.items + 1
     update_relation_action = :assoc__has_n__update_remote_item
     update_relation_action = :assoc__has_n__update_through_model if @relation.through_model
     update_relation_url = http.route update_relation_action
     items.each do |remote_item|
         remote_id = remote_item[@relation.remote_pkey]
         children = tree ? remote_item.send(tree[:has_n].children) : []
         self_color = color || Saint.tree_colors.sample
         bg_color = color || (self_color if children.size > 0)
         children_container_id = 'saint-assoc-has_n-children_container-%s-%s-%s-%s' % [@relation.id, @attached, level, remote_id]
  -%>

      <tr style="<%= "background-color: ##{bg_color}" if bg_color && @attached == 0 %>">
        <% if attachable -%>
            <td class="nowrap">

              <% if @attached == 0
                     attached = (@attached_keys_or_remote_item||[]).include?(remote_id)
                     disabled = (@relation.is_tree? && (@local_id == remote_id || (@local_item && @local_item.parent_id == remote_id))) ||
                             (@relation.belongs_to? && remote_item.send(@relation.remote_key) == @local_id) -%>

                  <input type="checkbox"
                         <%= 'checked="true"' if attached -%>
                         <%= 'disabled="true"' if disabled -%>
                         <% unless disabled -%>
                         onclick="return saint__assoc__has_n__update(
                                 '<%= update_relation_url %>',
                                 '<%= @relation.id %>',
                                 '<%= @local_id %>',
                                 '<%= remote_id %>',
                                 '<%= attached ? 'delete' : 'create' %>',
                                 query_string
                                 );"
                         <% end -%> />

              <% else -%>

                  <input type="checkbox" checked="true"
                         onclick="return saint__assoc__has_n__update(
                                 '<%= update_relation_url %>',
                                 '<%= @relation.id %>',
                                 '<%= @local_id %>',
                                 '<%= remote_id %>',
                                 'delete',
                                 query_string
                                 );"/>

              <% end -%>
              <span class="saint-text_note">
                #<%= (items_counter -= 1) - @pager.page_number * @pager.items_per_page %>
              </span>

            </td>
        <% end -%>

        <td class="nowrap">
          <i class="icon-edit"></i>
          <% if remote_node -%>
              <a href="<%= remote_node.http.route(:edit, remote_id) %>" target="_blank">
                <%= remote_id %>
              </a>
          <% else -%>
              <%= remote_id %>
          <% end -%>
          <% if children.size > 0 && @attached == 0 -%>
              <div id="<%= children_container_id %>-status" class="void-link saint-text_note"
                   onclick="Saint.Utils.toggleChildrenContainer('<%= children_container_id %>');">
                children+
              </div>
          <% end -%>
        </td>
        <% @remote_columns.each do |column| -%>
            <td>
              <%= column.summary_value remote_item, self %>
            </td>
        <% end -%>

      </tr>

      <% if children.size > 0 && @attached == 0 -%>
          <tr id="<%= children_container_id %>" style="display: none;">
            <td></td>
            <td colspan="<%= @remote_columns.size + 1 %>">
              <%= saint_view.render_partial('list/assoc/has_n-partial', items: children, level: level + 1, color: self_color) %>
            </td>
          </tr>
      <% end -%>

  <% end %>

</table>
