<div class="inline topped">
  <form action="<%= http.route(:create, @path) %>" id="saint-fm-toolbar-create-<%= node.__id__ %>-form" method="post">
    <input type="text" name="name" value="" placeholder="Create new File or Folder..."/>
    <input type="hidden" name="type" id="saint-fm-toolbar-create-<%= node.__id__ %>-form-type"/>
  </form>
</div>
<div class="inline topped">
  <button class="btn" onclick="Saint.Fm.create_item('saint-fm-toolbar-create-<%= node.__id__ %>-form', 'file');">
    <i class="icon-file"></i>
    file
  </button>
</div>
<div class="inline topped">
  <button class="btn" onclick="Saint.Fm.create_item('saint-fm-toolbar-create-<%= node.__id__ %>-form', 'folder');">
    <i class="icon-folder-close"></i>
    folder
  </button>
</div>
