<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>

  <h3>
    <%== '%s - %s' % node.values_at(:name, :size) %>
    <%= (g = node[:geometry]) && ' - %spx' % g.join('x') %>
  </h3>

  <%= saint_view.render_partial('fm/partial/operations', node: node, encoded_path: http.params['encoded_path']) %>
</div>
<div class="modal-body">

  <% if node[:content] -%>

      <form action="<%= http.route(:save, file: node[:path]) %>" id="<%= node[:uniq] %>-edit-form" method="post">
        <textarea name="content" style="width: 100%; height: 200px;"><%== node[:content] %></textarea>
      </form>

  <% elsif node[:file_too_big] -%>
      <div class="alert">
        Files bigger
        than <%= Saint::Utils.number_to_human_size(Saint::FileManager::MAX_FILE_SIZE) %>
        wont be edited
      </div>
  <% elsif node[:url] -%>

      <img src="<%= node[:url] %>?_=<%= Time.now.to_f %>"/>

  <% end -%>
</div>
<div class="modal-footer">
  <a class="btn" data-dismiss="modal">
    <i class="icon-remove"></i>
    close
  </a>
  <% if node[:content] -%>
      <button onclick="Saint.submit_valid_form('<%= node[:uniq] %>-edit-form');" class="btn btn-info el-100px">
        <i class="icon-file"></i>
        save
      </button>
  <% end -%>
</div>
