<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#saint-fm-toolbar-<%= node.__id__ %>" data-toggle="tab">
        <i class="icon-cog"></i>
      </a>
    </li>
    <li>
      <a href="#saint-fm-toolbar-rename-<%= node.__id__ %>" data-toggle="tab">
        <i class="icon-edit"></i>
        Rename</a>
    </li>
    <% if node[:dir?] -%>
        <li>
          <a href="#saint-fm-toolbar-create-<%= node.__id__ %>" data-toggle="tab">
            <i class="icon-plus-sign"></i>
            Create</a>
        </li>
    <% end -%>
    <% if node[:url] -%>
        <li>
          <a href="#saint-fm-toolbar-resize-<%= node.__id__ %>" data-toggle="tab">
            <i class="icon-resize-full"></i>
            Resize</a>
        </li>
    <% end -%>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="saint-fm-toolbar-<%= node.__id__ %>">

    <div class="inline topped">
      <% if node[:file?] -%>
          <a href="<%= http.route(:download, file: node[:path]) %>" class="btn">
            <i class="icon-download"></i>
            Download
          </a>
      <% end -%>
    </div>

    <div class="inline topped">
      <% if node[:dir?] -%>
          <%= saint_view.render_partial('fm/partial/upload', path: node[:path], label: node[:name]) -%>
      <% end -%>
    </div>

    <div class="inline topped">
      <button class="btn btn-warning"
              onclick="if(confirm('<%= ('Removing %s/%s/ folder and ANYTHING under it?' % [node[:dir], node[:name]]) if node[:dir?] %> This action can not be undone. Continue?')){
                      Saint.submit_valid_form('saint-fm-toolbar-delete-<%= node.__id__ %>-form', function(response){window.location=response.location});
                      }else{return false};">
        <i class="icon-trash"></i>
        delete
      </button>
      <form action="<%= http.route(:delete) %>" id="saint-fm-toolbar-delete-<%= node.__id__ %>-form" method="post">
        <input type="hidden" name="path" value="<%= node[:path] -%>"/>
      </form>
    </div>
  </div>

  <div class="tab-pane" id="saint-fm-toolbar-rename-<%= node.__id__ %>">
    <div class="inline topped">
      <form action="<%= http.route(:rename) %>" method="post" id="saint-fm-toolbar-rename-<%= node.__id__ %>-form">
        <input type="text" name="name" value="<%= node[:name] -%>" style="width: 200px;"/>
        <input type="hidden" name="path" value="<%= node[:path] -%>"/>
      </form>
    </div>
    <div class="inline topped">
      <a href="javascript:void(0);" class="btn topped"
         onclick="Saint.submit_valid_form('saint-fm-toolbar-rename-<%= node.__id__ %>-form', function(response){window.location=response.location});">
        rename
      </a>
    </div>
  </div>

  <% if node[:dir?] -%>
      <div class="tab-pane" id="saint-fm-toolbar-create-<%= node.__id__ %>">
        <%= saint_view.render_partial('fm/partial/create') -%>
      </div>
  <% end -%>

  <% if node[:url] -%>
      <div class="tab-pane" id="saint-fm-toolbar-resize-<%= node.__id__ %>">

        <label class="checkbox">
          <input type="checkbox" onclick="$('#<%= dialog_container %>-resize-name').toggle();"/>
          give new name to file
        </label>

        <form action="<%= http.route(:resize) %>" method="post" id="saint-fm-toolbar-resize-<%= node.__id__ %>-form">
          <input type="hidden" name="path" value="<%= node[:path] -%>"/>

          <div class="inline topped">
            <div>
              <input name="width" value="<%= node[:geometry][0] %>" class="el-50px"/>x<input name="height" value="<%= node[:geometry][1] %>" class="el-50px"/>px
            </div>
          </div>
          <div class="inline topped" id="<%= dialog_container %>-resize-name" style="display: none;">
            <input type="text" name="name" value="<%= node[:name] -%>"/>
          </div>
          <div class="inline topped">
            <a href="javascript:void(0);" class="btn topped"
               onclick="Saint.submit_valid_form('saint-fm-toolbar-resize-<%= node.__id__ %>-form', function(response){window.location=response.location});">
              resize
            </a>
          </div>
          <p class="saint-text_note">
            to proportionally resize by width, set height to 0.
            <br/>
            to proportionally resize by height, set width to 0.
          </p>
        </form>
      </div>
  <% end -%>
</div>
