<table cellpadding="5">
  <tr class="ui-widget-header" style="height: 30px;">
    <% if node[:file?] -%>
        <td>download</td>
    <% end -%>
    <% if node[:dir?] -%>
        <td>upload</td>
        <td>create</td>
    <% end -%>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <% if node[:file?] -%>
        <td style="vertical-align: top; text-align: center;">
          <a href="<%= http.route(:download, file: node[:path]) %>">
            <img src="<%= Saint::FileServer['vendor/icons/Oxygen/32/download.png'] %>" style="border: 0px;"/>
          </a>
        </td>
    <% end -%>
    <% if node[:dir?] -%>
        <td style="text-align: center; vertical-align: top;">
          <%= saint_view.render_partial('fm/partial/upload', path: node[:path], label: node[:name]) -%>
        </td>
        <td>
          <%= saint_view.render_partial('fm/partial/create') -%>
        </td>
    <% end -%>
    <td>
      <form action="<%= http.route(:rename, @path, file: @active_file && @active_file[:path]) %>" method="post">

        <input type="text" name="name" value="<%= node[:name] -%>" style="width: 200px;"/>
        <input type="hidden" name="name_was" value="<%= node[:name] -%>"/>
        <input type="hidden" name="dir" value="<%= node[:dir] -%>"/>

        <input type="submit" name="rename" value="rename" class="saint-button"/>
      </form>
    </td>
    <td style="vertical-align: top;">
      <form action="<%= http.route(:delete, @path, file: @active_file && @active_file[:path]) %>" method="post">
        <input type="hidden" name="dir" value="<%= node[:dir] -%>"/>
        <input type="hidden" name="name" value="<%= node[:name] -%>" style="width: 200px;"/>

        <input type="submit" class="saint-button" value="delete"
               onclick="return confirm('<%= ('Removing %s/%s/ folder and ANYTHING under it?' % [node[:dir], node[:name]]) if node[:dir?] %> This action can not be undone. Continue?');"
        />
      </form>
    </td>
  </tr>
</table>
