<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#saint-fm-toolbar-<%= node.__id__ %>" data-toggle="tab">
        <i class="icon-cog"></i>
      </a>
    </li>
    <li>
      <a href="#saint-fm-toolbar-rename-<%= node.__id__ %>" data-toggle="tab">Rename</a>
    </li>
    <% if node[:dir?] -%>
        <li>
          <a href="#saint-fm-toolbar-create-<%= node.__id__ %>" data-toggle="tab">Create</a>
        </li>
    <% end -%>
    <% if node[:url] -%>
        <li>
          <a href="#saint-fm-toolbar-resize-<%= node.__id__ %>" data-toggle="tab">Resize</a>
        </li>
    <% end -%>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="saint-fm-toolbar-<%= node.__id__ %>">

    <div class="inline topped">
      <% if node[:file?] -%>
          <a href="<%= http.route(:download, file: node[:path]) %>" class="btn">
            <i class="icon-download"></i>
            Download
          </a>
      <% end -%>
    </div>

    <div class="inline topped">
      <% if node[:dir?] -%>
          <%= saint_view.render_partial('fm/partial/upload', path: node[:path], label: node[:name]) -%>
      <% end -%>
    </div>

    <div class="inline topped">
      <form action="<%= http.route(:delete, @path, file: @active_file && @active_file[:path]) %>" id="<%= form_id = Digest::MD5.hexdigest([node.__id__, rand].join) %>" method="post">
        <input type="hidden" name="dir" value="<%= node[:dir] -%>"/>
        <input type="hidden" name="name" value="<%= node[:name] -%>"/>
        <button class="btn btn-warning"
                onclick="if(confirm('<%= ('Removing %s/%s/ folder and ANYTHING under it?' % [node[:dir], node[:name]]) if node[:dir?] %> This action can not be undone. Continue?')){$('#<%= form_id %>').submit();}else{return false};">
          <i class="icon-trash"></i>
          delete
        </button>
      </form>
    </div>
  </div>

  <div class="tab-pane" id="saint-fm-toolbar-rename-<%= node.__id__ %>">
    <form action="<%= http.route(:rename, @path, file: @active_file && @active_file[:path]) %>" method="post">

      <input type="text" name="name" value="<%= node[:name] -%>" style="width: 200px;"/>
      <input type="hidden" name="name_was" value="<%= node[:name] -%>"/>
      <input type="hidden" name="dir" value="<%= node[:dir] -%>"/>

      <input type="submit" name="rename" value="rename" class="btn"/>
    </form>
  </div>

  <% if node[:dir?] -%>
      <div class="tab-pane" id="saint-fm-toolbar-create-<%= node.__id__ %>">
        <%= saint_view.render_partial('fm/partial/create') -%>
      </div>
  <% end -%>

  <% if node[:url] -%>
      <div class="tab-pane" id="saint-fm-toolbar-resize-<%= node.__id__ %>">
        <input value="<%= node[:geometry][0] %>" id="<%= dialog_container %>-resize-width" style="width: 50px;"/>
        x<input value="<%= node[:geometry][1] %>" id="<%= dialog_container %>-resize-height" style="width: 50px;"/>
        px
        <input value="<%= node[:name] %>" id="<%= dialog_container %>-resize-name" style="display: none;"/>
        <input type="button" value="resize" class="btn btn-info"
               onclick="window.location = '<%= http.route(:resize) %>' + '?file=<%= node[:path] %>&width=' + $('#<%= dialog_container %>-resize-width').val() + '&height=' + $('#<%= dialog_container %>-resize-height').val() + '&name=' + $('#<%= dialog_container %>-resize-name').val();"
        />
        <br/>
        <label class="checkbox">
          <input type="checkbox" onclick="$('#<%= dialog_container %>-resize-name').toggle();"/>
          give new name to file
        </label>

        <div class="saint-text_note">
          to proportionally resize by width, set height to 0.
          <br/>
          to proportionally resize by height, set width to 0.
        </div>
      </div>
  <% end -%>
</div>
