<link rel="stylesheet" href="<%= Saint::FileServer['vendor/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css'] %>"/>
<script type="text/javascript" src="<%= Saint::FileServer['vendor/plupload/js/plupload.full.js'] %>"></script>
<script type="text/javascript" src="<%= Saint::FileServer['vendor/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js'] %>"></script>

<div class="modal" id="saint-fm-uploader-dialog" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    Uploading files into <%= label %>
  </div>
  <div class="modal-body">
    <div id="saint-fm-uploader-queue"></div>
  </div>
</div>

<button class="btn" onclick="$('#saint-fm-uploader-dialog').modal();">
  <i class="icon-upload"></i>
  upload
</button>
<script type="text/javascript">
    $('#saint-fm-uploader-dialog').on('shown', function() {
        var errors = new Array();
        $('#saint-fm-uploader-queue').pluploadQueue({
            runtimes : 'html5,gears,flash,html4',
            flash_swf_url : '<%= Saint::FileServer['vendor/plupload/js/plupload.flash.swf'] %>',
            url : '<%= http.route(:upload) %>',
            multipart_params: {path: '<%= path %>'},
            init: {
                FileUploaded: function(uploader, file, response) {
                    if (response.response == 1)
                        return true;
                    errors.push(response.response);
                },
                UploadComplete: function(uploader, files) {
                    if (errors.length > 0)
                        return alert(errors.join());
                    window.location.reload();
                }
            }
        });
    });
</script>
