<% row_id = row.send(saint.pkey).to_i
   associations.each_value do |rel|
       tab_id = 'saint-tabs-associations-%s-%s' % [rel.type, rel.name]
       form_id = 'saint-forms-CRUD-%s-create_new' % rel.name
       label__singular = Saint::Inflector.singularize rel.label -%>

    <div class="tab-pane" id="<%= tab_id %>">

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#<%= tab_id %>-select_existing" id="<%= tab_id %>-select_existing-toggle" data-toggle="tab">
              <i class="icon-th-list"></i>
              Select Existing
            </a>
          </li>
          <% if row_id > 0 -%>
              <li>
                <a href="#<%= tab_id %>-create_new" data-toggle="tab">
                  <i class="icon-plus-sign"></i>
                  Create New <%= label__singular %>
                </a>
              </li>
          <% end -%>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="<%= tab_id %>-select_existing">

          <% if row_id > 0 && rel.has_n? -%>
              <fieldset>
                <legend>
                  Attached <%= rel.label %>
                </legend>
                <div id="<%= rel.id %>1">
                  <%= http.xhr_get :assoc__any__remote_items, rel.id, row_id, 1 %>
                </div>
              </fieldset>
          <% end -%>

          <fieldset>
            <legend>
              Select Related <%= rel.label %>
            </legend>
            <div id="<%= rel.id %>0">
              <%= http.xhr_get :assoc__any__remote_items, rel.id, row_id, 0 %>
            </div>
          </fieldset>

        </div>

        <% if row_id > 0 -%>
            <div class="tab-pane" id="<%= tab_id %>-create_new">

              <% if rel.is_tree? -%>
                  <div class="alert">
                    This is a Tree Association, so use main tab to create a
                    new <%= saint.label singular: true %>
                  </div>
              <% else -%>
                  <% if rel.remote_node_create_button
                         remote_belongs_to = rel.remote_node.saint.belongs_to || {} -%>

                      <% if remote_belongs_to.size > 0 -%>
                          <div class="tabbable">
                            <ul class="nav nav-tabs">
                              <li class="active">
                                <a href="#<%= tab_id %>-create_new-tabs" data-toggle="tab">
                                  <i class="icon-edit"></i>
                                  <%= label__singular %>
                                </a>
                              </li>
                              <% remote_belongs_to.each_value do |remote_rel| -%>
                                  <li>
                                    <a href="#<%= tab_id %>-create_new-tabs-<%= remote_rel.id %>" data-toggle="tab">
                                      Select <%= remote_rel.label %>
                                    </a>
                                  </li>
                              <% end -%>
                            </ul>
                          </div>
                      <% end -%>

                      <div class="tab-content">

                        <div class="tab-pane active" id="<%= tab_id %>-create_new-tabs">
                          <form id="<%= form_id %>" action="<%= rel.remote_node.http.route(:save) %>" method="post">
                            <% if row_id > 0 && rel.belongs_to? -%>
                                <div class="alert alert-info">
                                  <label class="checkbox">
                                    <input type="checkbox" checked="true" id="associator-belongs_to-<%= rel.id %>"/>
                                    Attach current
                                    <strong><%= saint.label singular: true %></strong>
                                    to newly created
                                    <strong><%= label__singular %></strong>
                                  </label>
                                </div>
                            <% end -%>

                            <%= render_elements crud_columns(rel.remote_node.saint.column_instances), node: rel.remote_node %>
                            <% remote_belongs_to.each_value do |remote_rel|
                                associated = rel.local_model.__id__ == remote_rel.remote_model.__id__ -%>
                                <input type="hidden" name="<%= remote_rel.local_key %>"
                                       value="<%= associated ? row_id : SaintConst::NULL_VALUE %>"
                                       id="<%= remote_rel.id %>-element"/>
                            <% end -%>
                          </form>
                        </div>

                        <% remote_belongs_to.each_value do |remote_rel|
                            associated = rel.local_model.__id__ == remote_rel.remote_model.__id__ -%>

                            <div id="<%= tab_id %>-create_new-tabs-<%= remote_rel.id %>" class="tab-pane">
                              <% if row && associated -%>
                                  <div class="alert alert-info">
                                    <label class="checkbox">
                                      <input type="checkbox" checked="true"
                                             onclick="$('#<%= remote_rel.id %>-element').attr('disabled', !$(this).attr('checked'));"/>
                                      Attach newly created
                                      <strong><%= label__singular %></strong>
                                      to current
                                      <strong><%= saint.label singular: true %></strong>
                                    </label>
                                  </div>
                              <% end -%>
                              <div id="<%= remote_rel.id %>0">
                                <%= http.xhr_get(:assoc__any__remote_items, remote_rel.id) %>
                              </div>
                            </div>
                        <% end -%>
                      </div>

                      <button class="btn btn-success" onclick="Saint.submit_valid_form('<%= form_id %>', function(response){
                              if($('#associator-belongs_to-<%= rel.id %>').attr('checked')){
                                      Saint.valid_GET('<%= http.route :save, row_id, rel.local_key => '' %>' + response.status, function(response){
                                              Saint.update_container('saint-crud-header', '<%= http.route :head, row_id %>');
                                              });
                                      }
                              Saint.alert(response.message);
                              $('#<%= tab_id %>-select_existing-toggle').tab('show');
                              Saint.update_container('<%= rel.id %>1', '<%= rel.remote_node.http.route :assoc__any__remote_items, rel.id, row_id, 1 %>');
                              Saint.update_container('<%= rel.id %>0', '<%= rel.remote_node.http.route :assoc__any__remote_items, rel.id, row_id, 0 %>');
                              $('#<%= form_id %>')[0].reset();
                              });">
                        Save <%= label__singular %>
                      </button>

                  <% else
                         snippet = 'node %s::%s, true' % [self.class.name.split('::').shift, Saint::Inflector.classify(rel.name)] -%>
                      Please insert <code><%= snippet %></code> into
                      relation block.
                      <p>
                          <pre>
<%= "class #{ rel.local_node}\n  saint.#{ '%s :%s, %s do' % [rel.type, rel.name, rel.remote_model] }\n    #{ snippet }\n    # other setup\n  end\nend" %></pre>
                      </p>
                  <% end -%>
              <% end -%>
            </div>
        <% end -%>
      </div>


    </div>
<% end -%>
