<% header = saint.h(@row)
   factory_header = header == saint.h
   belongs_to, has_n = saint.belongs_to, saint.has_n -%>

<table style="width: 100%;">
  <tr>
    <td style="width: 33%; text-align: left;">
      <% if @prev_item -%>
          <a href="<%= http.route(:edit, @prev_item.send(saint.pkey), @pager.query_string) %>" class="saint-link">
            &laquo; <%= factory_header ? 'prev' : saint.h(@prev_item, label: nil) %>
          </a>
      <% end -%>
    </td>
    <td style="width: 33%; vertical-align: top; text-align: center;">

      <h3 style="color: #808080;">
        <%= header %>
      </h3>

      <div class="saint-flash_alert"><%= http.flash[:alert] %></div>

    </td>
    <td style="width: 33%; text-align: right;">
      <% if @next_item -%>
          <a href="<%= http.route(:edit, @next_item.send(saint.pkey), @pager.query_string) %>" class="saint-link">
            <%= factory_header ? 'next' : saint.h(@next_item, label: nil) %> &raquo;
          </a>
      <% end -%>
    </td>
  </tr>
</table>

<div style="display: inline-block; vertical-align: top; width: 80%;">

  <div class="saint-tabs">

    <ul>

      <li>
        <a href="#saint-tabs-master">
          <% if master_tab = saint.crud_tabs[:master] -%>
              <%= master_tab.label %>
          <% else -%>
              Generic
          <% end -%>
        </a>
      </li>

      <% saint.crud_tabs.reject { |id, t| id == :master }.each_value do |tab| -%>
          <li>
            <a href="#saint-tabs-opted-<%= tab.id %>">
              <%= tab.label %>
            </a>
          </li>
      <% end -%>

      <% if has_n && @row_id > 0
             has_n.each_value do |rel| -%>
              <li>
                <a href="#saint-tabs-has_n-<%= rel.name %>">
                  <%= rel.label %>
                </a>
              </li>
          <% end -%>
      <% end -%>

    </ul>

    <div id="saint-tabs-master">

      <% if master_tab -%>
          <%= self.instance_exec @row, @pager, &master_tab.proc %>
      <% else -%>

          <div class="saint-error" id="saint-errors_container-<%= @row_id %>"></div>

          <% saint.belongs_to && saint.belongs_to.each_value do |rel| %>
              <div style="display: inline-block;">

                <input type="button" class="saint-button" value="Click to select <%= rel.label %>"
                       onclick="$('.saint-assoc-belongs_to-container').hide(); $('#saint-assoc-belongs_to-container-<%= rel.id %>').toggle();"
                />
              </div>
          <% end -%>

          <%= saint_view.render_partial('edit/assoc/belongs_to') %>

          <form id="saint-form-edit-<%= @row_id %>" action="<%= http.route(:save, @row_id) %>">

            <%= render_elements @elements, row: @row -%>

            <% belongs_to && belongs_to.each_value do |rel| -%>
                <input name="<%= rel.local_key %>"
                       value="<%= @row.send(rel.local_key) || ::Saint::RV_NULL_VALUE %>"
                       id="<%= rel.id %>-element"
                       type="hidden"/>
            <% end -%>

          </form>

      <% end -%>

    </div>

    <% has_n && @row_id > 0 && has_n.each_pair do |name, rel|
        route = http.route(:assoc__any__remote_items, rel.id, @row_id, "/") -%>

        <div id="saint-tabs-has_n-<%= name %>">

          <% unless rel.readonly && rel.is_tree?
                 if (remote_node = rel.remote_node) && rel.remote_node_create_button
                     singular_name = Saint::Inflector.singularize(Saint::Inflector.titleize(rel.label))
                     form_id = "saint-forms-xhr-#{rel.id}-#{@row_id}" -%>
                  <div id="<%= rel.id %>-new"></div>
                  <div id="<%= rel.id %>-new-errors"></div>
                  <input type="button" class="saint-button" value="New <%= singular_name %>"
                         onclick="$('#<%= "#{rel.id}-new" %>').dialog({
                                 title: 'New <%= singular_name %>',
                                 modal: true,
                                 width: '80%',
                                 height: 600,
                                 position: [100, 100],
                                 closeOnEscape: false,
                                 buttons: {
                                         Save: function(){
                                                 Saint.submit_valid_form(
                                                         '<%= form_id %>',
                                                         '<%= rel.id %>-new-errors',
                                                         function(response){
                                                                 $('#<%= "#{rel.id}-new" %>').dialog('close');
                                                                 Saint.update_container('<%= rel.id %>1', '<%= route + '1' %>');
                                                                 Saint.update_container('<%= rel.id %>0', '<%= route + '0' %>');
                                                                 }
                                                         );
                                                 },
                                         Close: function(){
                                                 $(this).dialog('close');
                                                 }
                                         },
                                 open: function(event, ui){
                                         Saint.update_container('<%= rel.id %>-new', '<%= remote_node.http.route(:xhr_edit, rel.remote_key => @row_id, form_id: form_id) %>');
                                         }
                                 });"
                  />
                  <% unless remote_node.saint.belongs_to?(rel.local_model) || rel.through_model
                     local_node_label = Saint::Inflector.singularize(saint.h)
                  -%>
                      <div class="saint-text_note">
                        You can create new <%= remote_node.saint.h %>,
                        however, they wont be automatically attached to <strong><%= header %></strong>.
                        <br/>
                        To have this working, please define `belongs_to` association inside `<%= remote_node %>` class:
                        <br/>

                    <code class="saint-text-code">
                      <%= remote_node %><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;saint.belongs_to(:<%= local_node_label.downcase %>, <%= rel.local_model %>)<br/>
                      end
                    </code>
                      </div>
                  <% end -%>
              <% end -%>
          <% end -%>

          <fieldset>
            <legend>
              Attached <%= rel.label %>
            </legend>
            <div style="clear: both;"></div>
            <div id="<%= rel.id %>1"></div>
          </fieldset>

          <% unless rel.readonly -%>
              <fieldset>
                <legend onclick="$('#<%= rel.id %>0').toggle();" style="cursor: pointer;">
                  Select Related <%= rel.label %>
                </legend>
                <div style="clear: both;"></div>
                <div id="<%= rel.id %>0"></div>
              </fieldset>
          <% end -%>

          <script type="text/javascript">
              $(function() {
                  Saint.update_container('<%= rel.id %>1', '<%= route + "1" %>');
                  <% unless rel.readonly -%>
                  Saint.update_container('<%= rel.id %>0', '<%= route + "0" %>');
                  <% end -%>
              });
          </script>

        </div>
    <% end -%>


    <% saint.crud_tabs.reject { |id, t| id == :master }.each_value do |tab| -%>
        <div id="saint-tabs-opted-<%= tab.id %>">
          <%= self.instance_exec @row, @pager, &tab.proc %>
        </div>
    <% end -%>

  </div>
</div>

<div style="display: inline-block; vertical-align: top;">
  <div class="saint-tabs" style="position: fixed;">

    <ul>
      <li>
        <a href="#saint-tabs-actions-master">Actions</a>
      </li>
    </ul>

    <div id="saint-tabs-actions-master">

      <% if saint.update -%>
          <div style="width: 100%; ">

            <div class="saint-crud_button-container">

              <a href="javascript:void(0);" class="saint-button saint-save_button saint-crud_button"
                 onclick="<% saint.columns.select { |n,c| c.rte? }.each_value do |column| -%>
                         <%= "$('##{column.id}').val( $('##{column.id}').elrte('val') );" -%>
                         <% end -%>
                         <% saint.columns.select { |n,c| c.password? }.each_value do |column| -%>
                         <%= "if($('##{column.id}').val() != $('##{column.id}_confirm').val()) {alert('Values mismatch for #{column.label} field'); return false;}" %>
                         <% end -%>
                         Saint.submit_valid_form(
                                 'saint-form-edit-<%= @row_id %>',
                                 'saint-errors_container-<%= @row_id %>',
                                 '<%= http.route(:edit) %>/',
                                 '/<%= @pager.query_string %>'
                                 );"
              >Save</a>
            </div>
            <div class="saint-crud_button-container">
              <% if saint.create -%>
                  <a href="<%= http.route(:edit, @pager.query_string) %>" class="saint-button saint-crud_button">
                    New</a>
              <% end -%>
            </div>
            <div class="saint-crud_button-container">

              <% if saint.delete -%>
                  <a href="<%= http.route(:delete, @row_id, redirect_to: http.route(@pager.query_string)) %>"
                     class="saint-button saint-crud_button"
                     onclick="return confirm('This action can not be undone! Continue?');">
                    Delete</a>
              <% end -%>
            </div>
            <div class="saint-crud_button-container">
              <a href="<%= http.route(@pager.query_string) %>" class="saint-button saint-crud_button">
                Summary</a>


            </div>
          </div>
      <% end -%>
    </div>
  </div>
</div>
<div style="clear: both; margin-bottom: 20px;"></div>
