<% header = saint.h(@row)
   label = saint.label
   label__singular = saint.label singular: true
   belongs_to, has_n = (saint.belongs_to || {}), (saint.has_n || {})
   form_id = 'saint-form-CRUD-%s-%s' % [saint.model.__id__, @row_id] -%>

<div class="content">

  <div class="adaptive-nav">
    <div class="adaptive-nav-content">

      <p id="saint-crud-header">
        <% if @row_id > 0 -%>
            <%== header %>
        <% else -%>
          <div class="alert">
            <%== 'Creating new %s' % label__singular %>
          </div>
      <% end -%>
      </p>

      <div class="inline">

        <div class="btn-group" style="margin-right: 10px;">
          <a href="<%= http.route(@pager.query_string) %>" class="btn">
            <i class="icon-list"></i>
            <%== label %>
          </a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @rows.each_value do |setup|
                row, page = setup -%>
                <li class="<%= 'active' if row.send(saint.pkey) == @row_id %>">
                  <a href="<%= http.route :edit, row.send(saint.pkey), @pager.query_string(page) %>">
                    <%== saint.h row, length: 20 %>
                  </a>
                </li>
            <% end -%>
          </ul>
        </div>

      </div>

      <div class="btn-group inline">
        <% if saint.update -%>
            <a class="btn btn-info el-50px"
               onclick="<% saint.columns.select { |n,c| c.rte? }.each_value do |column| -%>
                       <%= "$('##{column.id}').val( $('##{column.id}').elrte('val') );" -%>
                       <% end -%>
                       <% saint.columns.select { |n,c| c.password? }.each_value do |column| -%>
                       <%= "if($('##{column.id}').val() != $('##{column.id}_confirm').val()) {alert('Values mismatch for #{column.label} field'); return false;}" %>
                       <% end -%>
                       Saint.submit_valid_form('<%= form_id %>',function(response){
                               <% if @row_id > 0 -%>
                               Saint.update_container('saint-crud-header', '<%= http.route(:head) %>/' + status);
                               Saint.alert(response.message);
                               <% else -%>
                               Saint.alert(response.message + '<br/>Reloading...', {
                                       time: 1000,
                                       after_close: function(){window.location = '<%= http.route :edit %>/' + status + '/<%= @pager.query_string %>';}
                                       });
                               <% end -%>
                               });">
              Save</a>
        <% end -%>
      </div>

      <div class="btn-group inline">

        <% if saint.create -%>
            <a href="<%= http.route(:edit, @pager.query_string) %>" class="btn">
              <i class="icon-plus"></i>
            </a>
        <% end -%>

        <% if saint.delete -%>
            <a class="btn btn-warning void-link"
               onclick="if(confirm('This action can not be undone! Continue?')){
                       Saint.valid_GET('<%= http.route(:delete, @row_id) %>',function(response){
                               Saint.alert(response.message + '<br/>Reloading...', {
                                       time: 1000,
                                       after_close: function(){window.location = '<%= http.route @pager.query_string %>';}
                                       });
                               });
                       }">
              <i class="icon-trash"></i>
            </a>
        <% end -%>

      </div>

      <div class="btn-group inline">
        <div class="hide-if-lt-768">
          <% if @prev
                 row, page = @prev -%>
              <a class="btn" rel="tooltip" title="<%== saint.h row %>"
                 href="<%= http.route(:edit, row.send(saint.pkey), @pager.query_string(page)) %>">
                <i class="icon-chevron-left"></i>
              </a>
          <% else -%>
              <a class="btn disabled"><i class="icon-chevron-left"></i></a>
          <% end -%>

          <% if @next
                 row, page = @next -%>
              <a class="btn" rel="tooltip" title="<%== saint.h row %>"
                 href="<%= http.route(:edit, row.send(saint.pkey), @pager.query_string(page)) %>">
                <i class="icon-chevron-right"></i>
              </a>
          <% else -%>
              <a class="btn disabled"><i class="icon-chevron-right"></i></a>
          <% end -%>
        </div>
      </div>
    </div>
  </div>

  <div class="tabbable">

    <ul class="nav nav-tabs">

      <li class="active">
        <a href="#saint-tabs-master" data-toggle="tab">
          <% if master_tab = saint.crud_tabs[:master] -%>
              <%= master_tab.label %>
          <% else -%>
              Edit <%= saint.label singular: true %>
          <% end -%>
        </a>
      </li>

      <% belongs_to.each_value do |rel| %>
          <li>
            <a href="#<%= 'saint-tabs-associations-%s-%s' % [rel.type, rel.name] %>" data-toggle="tab">
              Select <%= rel.label %>
            </a>
          </li>
      <% end -%>

      <% @row_id > 0 && has_n.each_value do |rel| -%>
          <li>
            <a href="#<%= 'saint-tabs-associations-%s-%s' % [rel.type, rel.name] %>" data-toggle="tab">
              Related <%= rel.label %>
            </a>
          </li>
      <% end -%>

      <% saint.crud_tabs.reject { |id, t| id == :master }.each_value do |tab| -%>
          <li>
            <a href="#saint-tabs-opted-<%= tab.id %>" data-toggle="tab">
              <%= tab.label %>
            </a>
          </li>
      <% end -%>
    </ul>
  </div>

  <div class="tab-content">

    <div class="tab-pane active" id="saint-tabs-master">

      <% if master_tab -%>
          <%= self.instance_exec @row, @pager, &master_tab.proc %>
      <% else -%>

          <form id="<%= form_id %>" action="<%= http.route(:save, @row_id) %>">

            <%= render_elements @elements, row: @row -%>

            <% belongs_to.each_value do |rel| -%>
                <input type="hidden" name="<%= rel.local_key %>" value="<%= @row.send(rel.local_key) || SaintConst::NULL_VALUE %>"
                       id="<%= rel.id %>-element"/>
            <% end -%>
          </form>

      <% end -%>

    </div>

    <%= saint_view.render_view('edit/assoc', row: @row, associations: belongs_to) %>
    <%= saint_view.render_view('edit/assoc', row: @row, associations: has_n) if @row_id > 0 %>

    <% saint.crud_tabs.reject { |id, t| id == :master }.each_value do |tab| -%>
        <div class="tab-pane" id="saint-tabs-opted-<%= tab.id %>">
          <%= self.instance_exec @row, @pager, &tab.proc %>
        </div>
    <% end -%>

  </div>

</div>
