<% label = el.label
   if el.layout -%>
    <%= el.layout.sub("[label]", label).sub("[field]", el_html) -%>
<% else -%>
    <% if layout -%>
        <%= layout.sub("[label]", label).sub("[field]", el_html) -%>
    <% else -%>
        <div style="<%= el.layout_style %>" class="<%= el.layout_class %>">
          <fieldset>
            <legend><%= label %></legend>
            <%= el_html %>
          </fieldset>
        </div>
    <% end -%>
<% end -%>
