<form action="<%= http.route(:save_password, @row_id, @element.name) %>" method="post">
  New <%= @element.label(@row) %>:
  <br/>
  <input type="password" name="<%= @element.name %>" style="<%= @element.css_style %>"/>
  <br/>
  Confirm:
  <br/>
  <input type="password" name="<%= @element.name %>_confirm" style="<%= @element.css_style %>"/>
  <input type="hidden" name="redirect-to" value="<%= http.route(:edit, @row_id, @pager.query_string) %>"/>

  <p style="margin: 10px;">
    <input type="submit" name="saint/update-password" value="update" class="saint-button"/>
  </p>
</form>
