<table style="width: 100%;">
  <tr class="ui-widget-header <%= 'saint-header' if level == 0 %>">
    <td style="width: 5%">
      <%= '#' if level == 0 -%>
    </td>
    <% @columns.each do |column| -%>
        <td style="<%= 'width: ' + (85 / @columns.size).ceil.to_s + '%;' %>">
          <%= column.label %>
        </td>
    <% end -%>
    <% if level == 0 -%>
        <td style="width: 5%"></td>
        <td style="width: 5%"></td>
    <% end -%>
  </tr>

  <% items_counter = 0
     items.each do |row|
         row_id = row[saint.pkey]
         edit_url = http.route(:edit, row_id, @pager.query_string)
         children = saint.is_tree? ? row.send(saint.is_tree?[:has_n].children) : []
         self_color = color || Saint.tree_colors.sample
         bg_color = color || (self_color if children.size > 0)
  -%>
      <tr class="saint-selectable" style="<%= "background-color: ##{bg_color}" if bg_color %>">
        <td style="text-align: center;">
          <% if level == 0 -%>
              <a href="<%= edit_url %>">
                <%= (items_counter += 1) + @pager.page_number * saint.ipp %>
              </a>
          <% end -%>
        </td>
        <% @columns.each do |column| -%>
            <td>
              <a href="<%= edit_url %>">
                <%= column.summary_value(row) -%>
              </a>
            </td>
        <% end -%>
        <% if level == 0 -%>
            <td style="text-align: center;">
              <% if saint.update -%>
                  <a href="<%= edit_url %>" class="saint-button">
                    <img src="<%= Saint::FileServer['vendor/icons/Oxygen/16/edit.png'] %>"/>
                  </a>
              <% end -%>
            </td>
            <td style="text-align: center;">
              <div class="saint-button">
                <input type="checkbox" name="rows[]" value="<%= row_id %>"/>
              </div>
            </td>
        <% end -%>
      </tr>

      <% if children.size > 0 -%>
          <tr>
            <td></td>
            <td colspan="<%= @columns.size + 2 %>">
              <%= saint_view.render_partial('list/list-partial', items: children, level: level + 1, color: self_color) %>
            </td>
          </tr>
          <% if level == 0 -%>
              <tr class="ui-widget-header saint-header">
                <td>
                  #
                </td>
                <% @columns.each do |column| %>
                    <td>
                      <%= column.label %>
                    </td>
                <% end %>
                <td>
                </td>
                <td>
                  Delete?
                </td>
              </tr>
          <% end -%>
      <% end -%>

  <% end %>

</table>
