<span class="saint-flash_alert"><%= http.flash[:alert] %></span>

<% if filters = saint.filters(:html) -%>
    <fieldset>
      <legend>Filters</legend>
      <div style="clear: both;">
        <form action="">
          <%= filters %>
          <div style="display: inline-block;">
            <div class="saint-filter_label">&nbsp;</div>
            <input type="submit" value="Search" class="saint-button"/>
            <a href="<%= http.route %>" class="saint-button">
              Reset
            </a>
          </div>
        </form>
      </div>
    </fieldset>
<% end -%>

<div class="saint-tabs">

  <ul>
    <li>
      <a href="#saint-tabs-master">
        <% if master_tab = saint.summary_tabs[:master] -%>
            <%= master_tab.label %>
        <% else -%>
            <%= saint.h %>
        <% end -%>
      </a>
    </li>

    <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
        <li>
          <a href="#saint-tabs-opted-<%= tab.id %>">
            <%= tab.label %>
          </a>
        </li>
    <% end -%>

  </ul>

  <div id="saint-tabs-master" style="margin-bottom: 50px;">

    <% if master_tab -%>
        <%= self.instance_exec @rows, @pager, &master_tab.proc %>
    <% else -%>

        <%= saint_view.render_partial('list/list-partial', items: @rows, level: 0, color: nil) %>

    <% end -%>
  </div>

  <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
      <div id="saint-tabs-opted-<%= tab.id %>">
        <%= self.instance_exec @rows, @pager, &tab.proc %>
      </div>
  <% end -%>

</div>

<div class="saint-summary-toolbar-bottom">

  <div style="display: inline-block; white-space: nowrap; margin-top: 5px; margin-left: 5px;">
    <% if saint.create -%>
        <a href="<%= http.route(:edit, @pager.query_string) %>" class="saint-button">
          new
        </a>
    <% end -%>
  
    <% if saint.delete && @pager.items > 0 -%>
        <input type="submit" value="remove selected" onclick="return confirm('This will remove selected items. This action CAN NOT be undone! Continue?');" class="saint-button"/>
    <% end -%>
  </div>

  <div style="display: inline-block; float: right; margin-right: 50px; margin-top: 3px;">
    <%= @pager.html %>
  </div>

</div>
