<%= @alert -%>

<div class="content">

  <% if filters = saint.get_filters(:html) -%>

      <fieldset>
        <legend>Filters</legend>

        <form id="saint-forms-summary-search">

          <%= filters %>

          <% saint.subset_instances(http.params, :html).each do |subset_filters|
              field_attrs = {}
              subset_id = 'saint-filters-subsets-%s' % subset_filters.__id__ -%>

              <div class="inline topped">
                <div class="saint-filter_label">&nbsp;</div>
                <div class="btn-group">
                  <% subset_filters.each do |subset_filter|
                      js = "$('#%s').attr('name', '%s').attr('value', '%s');" % [subset_id, *subset_filter.values_at(:name, :value)]
                      if subset_filter[:active]
                          js = "$('#%s').remove();" % subset_id
                          field_attrs = subset_filter
                      end -%>
                      <a class="void-link btn <%= 'active' if subset_filter[:active] %>"
                         onclick="<%= js %> $('#saint-forms-summary-search').submit();">
                        <%= subset_filter[:label] %>
                      </a>
                  <% end -%>
                </div>
              </div>
              <input type="hidden" id="<%= subset_id %>" name="<%= field_attrs[:name] %>" value="<%= field_attrs[:value] %>"/>
          <% end -%>

          <div class="inline topped">
            <div class="saint-filter_label">&nbsp;</div>
            <div class="btn-group">
              <a class="btn btn-info void-link" onclick="$('#saint-forms-summary-search').submit();">
                <i class="icon-search"></i>
                Search
              </a>
              <a href="<%= http.route %>" class="btn">
                Reset
              </a>
            </div>
          </div>
          <% [saint.ordered.column_var, saint.ordered.vector_var].each do |var| -%>
              <input type="hidden" name="<%= var %>" id="<%= var %>"/>
          <% end -%>
        </form>

      </fieldset>
  <% end -%>

  <div class="adaptive-nav">
    <div class="adaptive-nav-content">

      <div class="inline">
        <div class="btn-group">

          <% if saint.delete && @pager.items > 0 -%>
              <a class="btn btn-warning void-link"
                 onclick="if(confirm('This will remove selected items. This action CAN NOT be undone! Continue?')){
                         Saint.submit_valid_form('saint-forms-summary-delete', function(response){
                                 Saint.alert(response.message + '<br/>Reloading...', {
                                         time: 1000,
                                         after_close: function(){window.location = '<%= http.route @pager.query_string %>';}
                                         });
                                 })}">
                <i class="icon-trash"></i>
              </a>
          <% end -%>

          <% if saint.create -%>
              <a href="<%= http.route(:edit, @pager.query_string) %>" class="btn">
                <i class="icon-plus-sign"></i></a>
          <% end -%>
        </div>
      </div>
      <div class="inline">
        <%= @pager.html %>
      </div>

    </div>
  </div>

  <div class="tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#saint-tabs-master" data-toggle="tab">
          <% if master_tab = saint.summary_tabs[:master] -%>
              <%= master_tab.label %>
          <% else -%>
              <i class="icon-list"></i>
              <%= saint.label %>
          <% end -%>
        </a>
      </li>

      <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
          <li>
            <a href="#saint-tabs-opted-<%= tab.id %>" data-toggle="tab">
              <%= tab.label %>
            </a>
          </li>
      <% end -%>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="saint-tabs-master">
        <% if master_tab -%>
            <%= self.instance_exec @rows, @pager, &master_tab.proc %>
        <% else -%>
            <form id="saint-forms-summary-delete" action="<%= http.route(:delete) %>" method="post">
              <input type="hidden" name="redirect_to" value="<%= http.route(@pager.query_string) %>"/>
              <%= saint_view.render_partial('list/list-partial', items: @rows, level: 0, color: nil) %>
            </form>
        <% end -%>
      </div>

      <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
          <div class="tab-pane" id="saint-tabs-opted-<%= tab.id %>">
            <%= self.instance_exec @rows, @pager, &tab.proc %>
          </div>
      <% end -%>

    </div>
  </div>

</div>
