<span class="saint-flash_alert"><%= http.flash[:alert] %></span>

<% if filters = saint.filters(:html) -%>
    <fieldset>
      <legend>Filters</legend>
      <div style="clear: both;">
        <form action="">
          <%= filters %>
          <div style="display: inline-block;">
            <div class="saint-filter_label">&nbsp;</div>
            <input type="submit" value="Search" class="saint-button"/>
            <a href="<%= http.route %>" class="saint-button">
              Reset
            </a>
          </div>
        </form>
      </div>
    </fieldset>
<% end -%>

<div class="saint-tabs">

  <ul>
    <li>
      <a href="#saint-tabs-master">
        <% if master_tab = saint.summary_tabs[:master] -%>
            <%= master_tab.label %>
        <% else -%>
            <%= saint.h %>
        <% end -%>
      </a>
    </li>

    <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
        <li>
          <a href="#saint-tabs-opted-<%= tab.id %>">
            <%= tab.label %>
          </a>
        </li>
    <% end -%>

  </ul>

  <div id="saint-tabs-master" style="margin-bottom: 50px;">

    <% if master_tab -%>
        <%= self.instance_exec @rows, @pager, &master_tab.proc %>
    <% else -%>
        <form id="saint-forms-summary-delete" action="<%= http.route(:delete) %>" method="post">
          <input type="hidden" name="redirect_to" value="<%= http.route(@pager.query_string) %>"/>
          <%= saint_view.render_partial('list/list-partial', items: @rows, level: 0, color: nil) %>
        </form>
    <% end -%>
  </div>

  <% saint.summary_tabs.reject { |k, v| k == :master }.each_value do |tab| -%>
      <div id="saint-tabs-opted-<%= tab.id %>">
        <%= self.instance_exec @rows, @pager, &tab.proc %>
      </div>
  <% end -%>

</div>

<div class="saint-toolbar-bottom">

  <div class="saint-toolbar-bottom-column">
    <% if saint.create -%>
        <a href="<%= http.route(:edit, @pager.query_string) %>" class="saint-button">
          New</a>
    <% end -%>

    <% if saint.delete && @pager.items > 0 -%>
        <a onclick="if(confirm('This will remove selected items. This action CAN NOT be undone! Continue?')){$('#saint-forms-summary-delete').submit();}" href="javascript:void(0);" class="saint-button">
          Delete</a>
    <% end -%>
  </div>

  <div class="saint-toolbar-bottom-right_column">
    <%= @pager.html %>
  </div>

</div>
