<div class="row">
  <% Saint.ordered_nodes.select { |n| n.saint.dashboard }.each do |node|
      orm = Saint::ORM.new node.saint.model
  -%>
      <div class="span">
        <div class="well">
          <h3>
            <a href="<%= node.http.route %>">
              <%= node.saint.label %>
            </a>
            <%= orm.count[0] %>
          </h3>

          <div>
            <span class="label label-success">
            Latest Items
            </span>
            <ul>
              <% (orm.filter(orm.order(node.saint.pkey => :desc).merge(orm.limit(5)))[0]||[]).each do |item| %>
                  <li>
                    <a href="<%= node.http.route :edit, item.send(node.saint.pkey) %>">
                      <%== node.saint.h item %>
                    </a>
                  </li>
              <% end -%>
            </ul>
          </div>

          <% if (belongs_to = node.saint.belongs_to.select { |l, a| !a.is_tree? }).size > 0 -%>
              <div>
                <span class="label label-success">
                Belongs To
                </span>
                <ul>
                  <% belongs_to.each do |assoc|
                      label, assoc = assoc -%>
                      <li>
                        <% if assoc.remote_node -%>
                            <a href="<%= assoc.remote_node.http.route -%>">
                              <%== label %>
                            </a>
                        <% else -%>
                            <%== label %>
                        <% end -%>
                      </li>
                  <% end -%>
                </ul>
              </div>
          <% end -%>

          <% if (has_n = node.saint.has_n.select { |l, a| !a.is_tree? }).size > 0 -%>
              <div>
                <span class="label label-success">
                Has N
                </span>
                <ul>
                  <% has_n.each do |assoc|
                      label, assoc = assoc -%>
                      <li>
                        <% if assoc.remote_node -%>
                            <a href="<%= assoc.remote_node.http.route -%>">
                              <%== label %>
                            </a>
                        <% else -%>
                            <%== label %>
                        <% end -%>
                      </li>
                  <% end -%>
                </ul>
              </div>
          <% end -%>

          <% if tree = node.saint.is_tree? -%>
              <div>
                <span class="label label-success">
                Tree
                </span>
                <ul>
                  <li>
                    belongs to: <%= tree[:belongs_to].name %>
                  </li>
                  <li>
                    has n: <%= tree[:has_n].name %>
                  </li>
                </ul>
              </div>
          <% end -%>

        </div>
      </div>
  <% end -%>
</div>
