<% if @pages > 1 %>

    <% if @page_min > 1 -%>
        <div class="saint-pager-container-page">
          <a onclick="Saint.pager('<%= link_page 1 %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button saint-pager-page">
            1</a>
        </div>
        <div class="saint-pager-container-dots">...</div>
    <% end -%>

    <% @page_min.upto(@page_max) do |page| -%>
        <div class="saint-pager-container-page">
          <% if page == @page_label -%>
              <span class="saint-button ui-state-highlight saint-pager-page">
                <%= page %>
              </span>
          <% else -%>
              <a onclick="Saint.pager('<%= link_page page %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button saint-pager-page">
                <%= page %></a>
          <% end -%>
        </div>
    <% end -%>

    <% if @page_max < @pages -%>
        <div class="saint-pager-container-dots">...</div>
        <div class="saint-pager-container-page">
          <a onclick="Saint.pager('<%= link_page @pages %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button saint-pager-page">
            <%= @pages %></a>
        </div>
    <% end -%>

    <div class="saint-pager-container-arrow">
      <a onclick="Saint.pager('<%= link_page @page_label - 1 %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button saint-pager-arrow" style="font-size: 12px;">&lt;</a>
      <a onclick="Saint.pager('<%= link_page @page_label + 1 %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button saint-pager-arrow" style="font-size: 12px;">&gt;</a>
    </div>

<% end %>
