<% if @pages > 1 %>
    <div class="btn-group inline">
      <% if @page_min > 1 -%>
          <a class="btn void-link" onclick="Saint.update_container('<%= @opts[:container_id] %>', '<%= link_page 1 %>');">
            1</a>
          <a class="btn">...</a>
      <% end -%>
      <% @page_min.upto(@page_max) do |page| -%>
          <% if page == @page_label -%>
              <a class="btn active">
                <%= page %>
              </a>
          <% else -%>
              <a class="btn void-link" onclick="Saint.update_container('<%= @opts[:container_id] %>', '<%= link_page page %>');">
                <%= page %></a>
          <% end -%>
      <% end -%>
      <% if @page_max < @pages -%>
          <a class="btn">...</a>
          <a class="btn void-link" onclick="Saint.update_container('<%= @opts[:container_id] %>', '<%= link_page @pages %>');">
            <%= @pages %></a>
      <% end -%>
    </div>
    <div class="btn-group inline">
      <a class="btn void-link" onclick="Saint.update_container('<%= @opts[:container_id] %>', '<%= link_page @page_label - 1 %>');" >
        <i class="icon-chevron-left"></i>
      </a>
      <a class="btn void-link" onclick="Saint.update_container('<%= @opts[:container_id] %>', '<%= link_page @page_label + 1 %>');">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
<% end %>
