<% if @pages > 1 %>
    <table style="margin-left: auto; margin-right: auto;">
      <tr>
        <% if @page_min > 1 -%>
            <td style="white-space: nowrap;">
              <a href="<%= link_page 1 %>" class="saint-button">1</a>
              ...
            </td>
        <% end -%>
        <td>
          <% @page_min.upto(@page_max) do |page| -%>

              <% if page == @page_label -%>
                  <div class="saint-button ui-state-highlight">
                    <%= page %>
                  </div>
              <% else -%>
                  <a onclick="Saint.pager('<%= link_page page %>','<%= @opts[:container_id] %>');" href="javascript:void(0);" class="saint-button">
                    <%= page %>
                  </a>
              <% end -%>

          <% end -%>
        </td>
        <% if @page_max < @pages -%>
            <td style="white-space: nowrap;">
              ...
              <a href="<%= link_page @pages %>" class="saint-button"><%= @pages %></a>
            </td>
        <% end -%>
      </tr>
    </table>
<% end %>
