<% if @pages > 1 %>
    <div class="btn-group inline">
      <% if @page_min > 1 -%>
          <a onclick="Saint.pager('<%= link_page 1 %>','<%= @opts[:container_id] %>');"
             href="javascript:void(0);" class="btn">
            1
          </a>
          <a class="btn">...</a>
      <% end -%>
      <% @page_min.upto(@page_max) do |page| -%>
          <% if page == @page_label -%>
              <a class="btn active">
                <%= page %>
              </a>
          <% else -%>
              <a onclick="Saint.pager('<%= link_page page %>','<%= @opts[:container_id] %>');"
                 href="javascript:void(0);" class="btn">
                <%= page %></a>
          <% end -%>
      <% end -%>
      <% if @page_max < @pages -%>
          <a class="btn">...</a>
          <a onclick="Saint.pager('<%= link_page @pages %>','<%= @opts[:container_id] %>');"
             href="javascript:void(0);" class="btn">
            <%= @pages %>
          </a>
      <% end -%>
    </div>
    <div class="btn-group inline">
      <a onclick="Saint.pager('<%= link_page @page_label - 1 %>','<%= @opts[:container_id] %>');"
         href="javascript:void(0);" class="btn">
        <i class="icon-chevron-left"></i>
      </a>
      <a onclick="Saint.pager('<%= link_page @page_label + 1 %>','<%= @opts[:container_id] %>');"
         href="javascript:void(0);" class="btn">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
<% end %>
