<% if @pages > 1 %>
    <table style="margin-left: auto; margin-right: auto; display: inline;">
      <tr>
        <% if @page_min > 1 -%>
            <td style="white-space: nowrap; color: #DDD;">
              <a href="<%= link_page 1 %>" class="saint-button">1</a>
              ...
            </td>
        <% end -%>
        <% @page_min.upto(@page_max) do |page| -%>
            <td style="text-align: center;">

              <% if page == @page_label -%>
                  <div class="saint-button ui-state-highlight">
                    <%= page %>
                  </div>
              <% else -%>
                  <a href="<%= link_page page %>" class="saint-button">
                    <%= page %>
                  </a>
              <% end -%>
            </td>
        <% end -%>
        <% if @page_max < @pages -%>
            <td style="white-space: nowrap; color: #DDD;">
              ...
              <a href="<%= link_page @pages %>" class="saint-button"><%= @pages %></a>
            </td>
        <% end -%>
        <td>
          <% arrow_style = 'font-size: 80%;' -%>
          <a href="<%= link_page @page_label-1 %>" class="saint-button" style="<%= arrow_style %>">&lt;</a>
          <a href="<%= link_page @page_label+1 %>" class="saint-button" style="<%= arrow_style %>">&gt;</a>
        </td>
      </tr>
    </table>
<% end %>
