<% if @pages > 1 %>

    <% if @page_min > 1 -%>
        <div class="saint-pager-container-page">
          <a href="<%= link_page 1 %>" class="saint-button saint-pager-page">
            1</a>
        </div>
        <div class="saint-pager-container-dots">...</div>
    <% end -%>
    
    <% @page_min.upto(@page_max) do |page| -%>
        <div class="saint-pager-container-page">
          <% if page == @page_label -%>
              <span class="saint-button ui-state-highlight saint-pager-page">
                <%= page %>
              </span>
          <% else -%>
              <a href="<%= link_page page %>" class="saint-button saint-pager-page">
                <%= page %></a>
          <% end -%>
        </div>
    <% end -%>

    <% if @page_max < @pages -%>
        <div class="saint-pager-container-dots">...</div>
        <div class="saint-pager-container-page">
          <a href="<%= link_page @pages %>" class="saint-button saint-pager-page">
            <%= @pages %></a>
        </div>
    <% end -%>
    
    <div class="saint-pager-container-arrow">
      <a href="<%= link_page @page_label-1 %>" class="saint-button saint-pager-arrow">&lt;</a>
      <a href="<%= link_page @page_label+1 %>" class="saint-button saint-pager-arrow">&gt;</a>
    </div>

<% end %>
