<% if @pages > 1 %>
    <div class="btn-group inline">
      <% if @page_min > 1 -%>
          <a href="<%= link_page 1 %>" class="btn">
            1
          </a>
          <a class="btn">...</a>
      <% end -%>
      <% @page_min.upto(@page_max) do |page| -%>
          <% if page == @page_label -%>
              <a class="btn active">
                <%= page %>
              </a>
          <% else -%>
              <a href="<%= link_page page %>" class="btn">
                <%= page %>
              </a>
          <% end -%>
      <% end -%>
      <% if @page_max < @pages -%>
          <a class="btn">...</a>
          <a href="<%= link_page @pages %>" class="btn">
            <%= @pages %>
          </a>
      <% end -%>
    </div>
    <div class="btn-group inline">
      <a href="<%= link_page @page_label-1 %>" class="btn">
        <i class="icon-chevron-left"></i>
      </a>
      <a href="<%= link_page @page_label+1 %>" class="btn">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
<% end %>
